<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GesturePin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>144EB0B01CE0E73900F9509F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>144EB0C41CE0E73A00F9509F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>144EB0CF1CE0E73A00F9509F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
